{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css">
    <title>Demo Registration</title>
</head>
<body>

    <section>
        <div class="container mx-auto">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="card bg-white rounded-lg shadow-lg">
                <div class="card-header text-black bg-gray-200 rounded-t-lg">
                  <h2 class="text-lg font-bold">Register as Creator</h2>
                </div>
                <div class="card-body">
                    <form action="{% url 'chats:creator_register' %}" method="POST" novalidate>
                      {% csrf_token %}
                         {% for field in form.visible_fields %}
                           <div class="mb-4">
                               {{ field.label_tag }}
                                  {% render_field field class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %}
                                    {% for error in field.errors %}
                                      <span style="color:red">{{ error }}</span>
                                    {% endfor %}
                           </div>
                         {% endfor %}
                           <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">
                             Register
                           </button>
                    </form>
                 </div>
                    </div>   
                </div>
              </div>
            </div>
        </div>
      </section>

</body>
</html>
